html, body, main {
	height: 100%;
}
 
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large-product-card .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}